#section-about > h1{
    color: red;
}

#section-about{
    background-color: lightblue;
}

#section-undergraduate{
    background-color: lavender;
}

#section-graduate{
    background-color: lightcyan;
}